@import url('./_open/popup_open.css');
@import url('./__close/popup__close.css');
@import url('./__container/popup__container.css');
@import url('./__input/popup__input.css');
@import url('./__save/popup__save.css');
@import url('./__title/popup__title.css');


.popup {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    
}



