@import url('./__logo/header__logo.css');

.header {
    padding: 45px 0px 41px;
    border-bottom: 2px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 880px) {
    .header {
        padding-top: 28px;
    }
    }