.elements__card-description {
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 79px;
}